<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:43:57</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Main.setup(java.lang.String)[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@68be2bc2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@342597804</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:44:21</td>   <td>24133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.verifyflightsearch(java.lang.String, java.lang.String)[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@68be2bc2]">verifyflightsearch</td> 
  <td>main@342597804</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:44:29</td>   <td>32565</td> <td>&nbsp;</td><td title="&lt;&lt;Main.tearDown()[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@68be2bc2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@342597804</td>   <td></td> </tr>
</table>
