<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Assignment2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:45:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Main.setup(java.lang.String)[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@3bfdc050]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1620121465</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:45:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Main.setup(java.lang.String)[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@68be2bc2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@567557109</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:45:44</td>   <td>23281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.verifyflightsearch(java.lang.String, java.lang.String)[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@3bfdc050]">verifyflightsearch</td> 
  <td>TestNG@1620121465</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:46:01</td>   <td>39741</td> <td>&nbsp;</td><td title="&lt;&lt;Main.tearDown()[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@3bfdc050]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1620121465</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:46:14</td>   <td>53474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main.verifyflightsearch(java.lang.String, java.lang.String)[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@68be2bc2]">verifyflightsearch</td> 
  <td>TestNG@567557109</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>18/06/21 13:46:19</td>   <td>57524</td> <td>&nbsp;</td><td title="&lt;&lt;Main.tearDown()[pri:0, instance:com.infostretch.assignment2.Assignment2.Main@68be2bc2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@567557109</td>   <td></td> </tr>
</table>
